@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@600&display=swap');

:root{
    --primaryColor: lightblue;
    --primaryDarkColor: darkblue;
    --primaryHoverColor: white;
    --FocusColor: darkred;
    --secondaryColor: #fd7e14;
    --baseColor: #21243D;
    --baseFont: 'Heebo', sans-serif;
    --titleFont: 'Gluten', cursive;
    --regular: 400;
    --medium: 500;
    --bold: 700;
    --black: 900;
    --Other: indigo;
  }

body {
    margin: 0 10em 0 10em;
    padding: 0;
    background-color: var(--primaryColor);
    font-family: var(--baseFont);
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.smile_logo {
    float: left;
}

.hygge, h1{
    font-family: 'Gluten', cursive;
    color: darkblue;
    font-size: 1.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
}

h2{
    /*margin-left:2em;*/
    color: indigo;
}

.smile_logo img {
    max-width: 50px;
    float: left;
    margin: 0 10px 0 10px;
}

.nav_right{
    float: right;
    font-weight: var(--bold);
}

.nav_right ul, li{
    margin: 0; 
    padding: 0;
}

.nav_right li {
    display: inline-block;
    margin: 1.4em 1.6em 1em 1em;
    list-style: none;
    font-size: 12px;
}
.nav_right li a { 
    text-decoration: none;
}

fieldset{
    color: indigo;
}

button, .button {
    background-color: #fd7e14;
    color: white;
    padding: 14px 64px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.button_reg, .cancelbtn{
    background-color: gray;
    color: white;
    padding: 14px 64px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: initial;

}
a:hover{
    color: white;
    font-size: 13px;
    background-color: darkblue;

}

.hygge a,.hygge a:visited, .hygge a:hover{
    color: darkblue;
    background: none;
    text-decoration: none;
    font-size: inherit;
}

input, select, textarea {
    margin: 0 0 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-appearance: none;
    outline-color: indigo;
}
         
.kontakt input, #aktivitet, .label_text textarea{
    width: 100%;
}
label{
    font-weight: bold;
}

.label_text{
    vertical-align: middle;
}

.mbsc-page {
    padding: 1em;
}

footer{

    text-align: center;
    font-family: var(--baseFont);
    font-size: 80%;
    width: 100%;
    color: #999;
}

@media screen and (max-width: 768px) {
body {

    margin: 0 1em 0 1em;
}
button, .cancelbtn, .button {
  
    width: 100%;
 }
}