
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@600&display=swap');
:root{
  --primaryColor: lightblue;
  --primaryDarkColor: darkblue;
  --primaryHoverColor: white;
  --FocusColor: darkred;
  --secondaryColor: #fd7e14;
  --baseColor: #21243D;
  --baseFont: 'Heebo', sans-serif;
  --titleFont: 'Gluten', cursive;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --black: 900;
  --Other: indigo;
}


body{
    background-color: var(--primaryColor);
    font-family: var(--baseFont);
    color: var(--primaryDarkColor);
    margin: 0 10em 0 10em;
}

header::after {
    content: "";
    display: table;
    clear: both;

}
.smile_logo {
    float: left;
  
}

.hygge, h1{
    font-family: var(--titleFont);
    color: var(var(--primaryDarkColor));
    font-size: 1.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
}
h2, h3{
  color: var(--baseColor);
  font-family: var(--baseFont);
  margin: .7em 0 .3em 0;
}
.smile_logo img {
  max-width: 50px;
  float: left;
  margin: 0 10px 0 10px;
}

.imgcontainer {
  text-align: center;

}

img.avatar {
  width: 20%;

}

.nav_right{
    float: right;
    font-weight: var(--bold);
}

.nav_right ul, li{
    margin: 0; 
    padding: 0;
}

.nav_right li {
    display: inline-block;
    margin: 1.4em 1.8em 1em 1em;
    list-style: none;
    font-size: 12px;
}
.nav_right li a { 
    text-decoration: none;
  }

#active{
    color: var(--secondaryColor);
    font-weight: bold;
    text-decoration: underline;
}

a:focus{
    color: var(--FocusColor);
}

a:hover{
    color: var(--primaryHoverColor);
    font-size: 14px;
    background-color: var(--primaryDarkColor);
    
}

a:active{
    background-color: var(--primaryDarkColor);
}

.hygge a,.hygge a:visited, .hygge a:hover{
  color: var(--primaryDarkColor);
  background: none;
  text-decoration: none;
  font-size: inherit;
}

* {box-sizing: border-box;}

input[type=text], input[type=password], input[type=tel], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input {
  outline-color: var(--Other);
}
label{
  font-weight: bold;
}
.suksess_vert span, .suksess_avtale span{
  font-weight: bold;
  color: var(--Other);
}


button, .button {
  background-color: var(--secondaryColor);
  color: var(--primaryHoverColor);
  padding: 14px 64px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button_reg, .cancelbtn, .vert{
  background-color: grey;
  color: var(--primaryHoverColor);
  padding: 14px 64px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: initial;
}


.registrering{
  text-align: left;
}
.suksess{
  font-size: 20px;
  margin-top: 50px;
}

.button:hover, .button_reg:hover {
  opacity: 0.8;
}

.psw {

display: block;
float: none;
}

/*FOOTER */

footer{
  position: static; 
  bottom: 1%;
  text-align: center;
  font-family: var(--baseFont);
  font-size: 80%;
  width: 100%;
  color: #999;
  margin-top: 10px;

}

.takk_registrering{
  position: fixed;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 768px) {
  body{
    margin: 0 0.8em 0 0.8em;
  }

  button, .cancelbtn, .button, .vert{
     width: 100%;
  }
}