
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@600&display=swap');

body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    margin-left: 10em;
    margin-right: 10em;
}

header::after {
    content: "";
    display: table;
    clear: both;

}
.smile_logo {
    float: left;
  
}

#hygge, h1{
    font-family: 'Gluten', cursive;
    color: darkblue;
    font-size: 1.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
}

.smile_logo img {
  max-width: 50px;
  float: left;
  margin: 0 10px 0 0;
}

.imgcontainer {
  text-align: center;

}

img.avatar {
  width: 20%;
  /*border-radius: 50%; */
}

.nav_right{
    float: right;
}

.nav_right ul, li{
    margin: 0; 
    padding: 0;
}

.nav_right li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
    list-style: none;
    font-size: 12px;
}
.nav_right li a { 
    text-decoration: none;
  }

.active{
    color: #fd7e14;
    font-weight: bold;
}

a:focus{
    color: darkred;
}

a:hover{
    color: white;
    border-radius: 0px 5px 5px 0px;
    background-color: darkblue;
    
}

a:active{
    background-color: darkblue;
}

* {box-sizing: border-box;}

input[type=text], input[type=password], input[type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

label{
  font-weight: bold;
}

button, .button {
  background-color: #fd7e14;
  color: white;
  padding: 14px 64px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button_reg, .cancelbtn{
  background-color: gray;
  color: white;
  padding: 14px 64px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: initial;

}
.registrering{
  text-align: left;
}
.suksess{
  font-size: 20px;
  margin-top: 50px;
}

.button:hover, .button_reg:hover {
  opacity: 0.8;
}


.container {
  /*padding: 16px;*/
  display: inline-block;
}


span.psw {
  float: left;
  padding-top: 16px;
}

/*FOOTER */

footer{
  position: static; 
  bottom: 1%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  width: 100%;
  color:darkblue;
  margin-top: 10px;

}

.takk_registrering{
  position: fixed;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 700px) {
  body{
    margin-left: 2em;
    margin-right: 2em;
  }
  span.psw {
     display: block;
     float: none;
  }
  button, .cancelbtn, .button {
     width: 100%;
  }
}