@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@600&display=swap');
:root{
    --primaryColor: lightblue;
    --primaryDarkColor: darkblue;
    --primaryHoverColor: white;
    --FocusColor: darkred;
    --secondaryColor: #fd7e14;
    --baseColor: #21243D;
    --baseFont: 'Heebo', sans-serif;
    --titleFont: 'Gluten', cursive;
    --regular: 400;
    --medium: 500;
    --bold: 700;
    --black: 900;
    --Other: indigo;
  }

body{
    background-color: var(--primaryColor);
    font-family: var(--baseFont);
    margin: 0 10em 0 10em;
 
}

main{

    padding: 2em;
 }

header::after {
    content: "";
    display: table;
    clear: both;

}
.smile_logo {
    float: left;
  
}

.smile_logo img {
    max-width: 50px;
    float: left;
    margin: 0 10px 0 10px;
  }
.hygge{
    font-family: var(--titleFont);
    color: var(--primaryDarkColor);
    font-size: 1.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
}
h1{
    font-family: var(--titleFont);
    color: var(--primaryDarkColor);
    font-size: 2em;
    text-align: center;
    
}


h2, h3{
  color: var(--baseColor);
  font-family: var(--baseFont);
}

.imgcontainer {
    text-align: center;

  }
.home_white{
    background-color: var(--primaryHoverColor);
    border-radius: 50px 50px 50px 50px;
    padding-bottom: 10px;
}
  img.avatar {
    width: 20%;
  } 

  
  .nav_right{
      float: right;
      font-weight: var(--bold);
  }
  
  .nav_right ul, li{
      margin: 0; 
      padding: 0;
  }
  
  .nav_right li {
      display: inline-block;
      margin: 1.4em 1.7em 1em 1em;
      list-style: none;
      font-size: 12px;
  }
  
  .nav_right li a { 
      text-decoration: none;
    }
    
  
  #active{
      color: var(--secondaryColor);
      font-weight: bold;
      text-decoration: underline;
    
  }
  
  a:focus{
      color: var(--FocusColor);
  }
  
  a:hover{
      color: var(--primaryHoverColor);
      font-size: 14px;
      background-color: var(--primaryDarkColor);
      
  }
  
  a:active{
      background-color: var(--primaryDarkColor);
  }
  
.hygge a,.hygge a:visited, .hygge a:hover{
    color: var(--primaryDarkColor);
    background: none;
    text-decoration: none;
    font-size: inherit;
}
* {box-sizing: border-box;}

.avatar {
    align-content: center;
    text-align: center;
    width: 30%;
  }

button{
    align-content: center;
}
.button {
    display: inline-block;
    padding: 10px 40px;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: var(--secondaryColor);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}


button:hover {background-color: var(--primaryDarkColor)}
  
button:active {
    background-color: var(--primaryDarkColor);
    box-shadow: 0 5px var(--primaryDarkColor);
    transform: translateY(4px);
}

/*FOOTER */

footer{
   
    text-align: center;
    font-family: var(--baseFont);
    font-size: 80%;
    width: 100%;
    color: #999;
    padding: 5px 0;

}

@media (max-width: 768px) {

.buttons{
    display: inline-block;
    width: 100%;
}
/*
.button-other{
    padding: 10px 10px;
    font-size: 12px;
}
*/
body{
     margin: 0 0.8em 0 0.8em;
  }

h1{
      font-size: 30px;
  }
}





